<div class="organiza-index-font mdl-typography--text-center">
  <h1>Organiza</h1>
  <p>Start organizing your day, meetings and thoughts here</p>
  <button class="organiza-button mdl-button mdl-js-button mdl-color-text--white">
    SIGN UP
  </button>
</div>

