<% @categories.each do |category| %>
<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><%= category.title %></h2>
  </div>
    <div class="mdl-card__supporting-text">
      <%= category.description %>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <!-- Colored icon button -->
      <button class="mdl-button mdl-js-button mdl-button--icon mdl-color--green mdl-color-text--white">
        <i class="material-icons">edit</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--icon mdl-color--red mdl-color-text--white">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
  <% end %>
