<div class="mdl-cell mdl-cell--4-col mdl-cell--3-offset">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">category 1</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <!-- Colored icon button -->
      <button class="mdl-button mdl-js-button mdl-button--icon mdl-color--green mdl-color-text--white">
        <i class="material-icons">edit</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--icon mdl-color--red mdl-color-text--white">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
</div>
